{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Books{% endblock %}</h1>

{% endblock %}

{% block content %}
<hr>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<table>
    {% for book in books %}
    <tr>
        <th>{{ book['title'] }}</th>
        <th>{{ book['author'] }}</th>
        <th>{{ book['published'] }}</th>
    </tr>
    {% endfor %}
</table>

{% endblock %}
